<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETC</title>
</head>
<body>
  <section th:fragment="fragment-etc" class="resume-section" id="etc">
      <div class="resume-section-content">
          <h2 class="mb-5">Etc</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">정보처리기사</h3>
                  <div class="subheading mb-1">한국산업인력공단</div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">June 2021</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">한라대학교</h3>
                  <div class="subheading mb-1">정보통신공학</div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">March 2008 - May 2015</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">육군 병장 만기 전역</h3>
                  <div class="subheading mb-1"></div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">January 2009 - November 2011</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">청원고등학교</h3>
                  <div class="subheading mb-1">이공계</div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">March 2005 - February 2008</span></div>
          </div>
      </div>
  </section>
</body>
</html>