<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experience</title>
</head>
<body>
    <section th:fragment="fragment-experience" class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 에스와이폴라리스</h3>
                    <div class="subheading mb-1">서비스, 솔루션, ERP, CRM</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2025 - 재직중</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 위즈온텍</h3>
                    <div class="subheading mb-1">B2B 서비스, 국책연구개발사업</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">May 2018 - January 2024 (5년 9개월)</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 지투시스넷</h3>
                    <div class="subheading mb-1">ERP 개발 및 유지보수, 안드로이드 모바일 개발 및 유지보수</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2016 - April 2017 (8개월)</span></div>
            </div>
        </div>
    </section>
</body>
</html>