<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experience</title>
</head>
<body>
    <section th:fragment="fragment-experience" class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 에스와이폴라리스</h3>
                    <div class="subheading mb-1">정보보안팀 서비스 개발자</div>
                    <ul>
                        <li>쿠폰발급서비스 제휴사 연동 발급, 자체 발급, BO 유지보수</li>
                        <li>쿠폰발급서비스 개인정보 암호화, 접근 제어, 로그 모니터링 등 보안 기능 개발</li>
                        <li>쿠폰정산서비스 유지보수 개발</li>
                        <li style="list-style: none;">
                            <span class="badge text-bg-secondary">Nginx</span>
                            <span class="badge text-bg-secondary">NodeJS</span>
                            <span class="badge text-bg-secondary">NestJS</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">SpringBoot</span>
                            <span class="badge text-bg-secondary">AWS Aurora</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2025.01 - 2025.08</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 위즈온텍</h3>
                    <div class="subheading mb-1">연구개발팀 개발자</div>
                    <ul>

                        <li>아산병원, 녹십자 임상실험 데이터 관리 및 분석 서비스 개발 [N-GLIS 차세대 유전체 정보 관리 시스템]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>로그인, 로그아웃, 사용자 관리 백엔드 개발</li>
                                <li>주문 관리 백엔드 개발</li>
                                <li>외부 연동 및 데이터 동기화 백엔드 개발</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">Docker</span>
                                    <span class="badge text-bg-secondary">Java</span>
                                    <span class="badge text-bg-secondary">SpringCloud</span>
                                    <span class="badge text-bg-secondary">MySQL</span>
                                </li>
                            </ul>
                        </li>

                        <li>“단파대 광대역 방탐 시제품 고속 DB 처리부” 전파의 방향탐지 데이터를 수집, 저장, 시각화 개발 [ETRI 고속DB]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>고성능 실시간 데이터 파이프라인 구축 및 백엔드 개발</li>
                                <li>고성능 데이터 모델링 및 스키마 설계</li>
                                <li>데이터 시각화</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">Java</span>
                                    <span class="badge text-bg-secondary">SpringBoot</span>
                                    <span class="badge text-bg-secondary">InfluxDB</span>
                                    <span class="badge text-bg-secondary">Grafana</span>
                                </li>
                            </ul>
                        </li>

                        <li>식품공장 생산성 향상 및 유연 포장 자동, 최적화를 위한 5G MEC 프레임워크 개발 [KETI 5G MEC]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>인프라 아키텍처 설계 및 구축</li>
                                <li>MEC Plaform Manager 컨테이너, 노드 관리 및 모니터링 백엔드 개발</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">Kubernetes</span>
                                    <span class="badge text-bg-secondary">Python3</span>
                                    <span class="badge text-bg-secondary">Flask</span>
                                    <span class="badge text-bg-secondary">Prometheus</span>
                                    <span class="badge text-bg-secondary">Ansible</span>
                                    <span class="badge text-bg-secondary">MySQL</span>
                                </li>
                            </ul>
                        </li>

                        <li>시계열데이터를 사용한 시각화, 분석 서비스 [KETI 시계열 프로젝트]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>공공데이터(날씨, 주식) OpenAPI를 이용한 데이터 수집 백엔드 개발</li>
                                <li>대용량 CSV 데이터 업로드 개발</li>
                                <li>데이터 시각화</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">React</span>
                                    <span class="badge text-bg-secondary">Java</span>
                                    <span class="badge text-bg-secondary">SpringBoot</span>
                                    <span class="badge text-bg-secondary">InfluxDB</span>
                                </li>
                            </ul>
                        </li>

                        <li>SKB G2 통합 모니터링 서비스 [SKB G2 SMCS]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>사용자 모니터링 차트 및 대시보드 프론트엔드 개발</li>
                                <li>사용자 알람 관리 프론트엔드 개발</li>
                                <li>로그인/로그아웃 및 사용자 관리 프론트엔드 개발</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">React</span>
                                    <span class="badge text-bg-secondary">Java</span>
                                    <span class="badge text-bg-secondary">SpringBoot</span>
                                    <span class="badge text-bg-secondary">MySQL</span>
                                    <span class="badge text-bg-secondary">InfluxDB</span>
                                    <span class="badge text-bg-secondary">Kapacitor</span>
                                </li>
                            </ul>
                        </li>

                        <li>외부 인력 좌석 체크인/체크아웃 [SKH 좌석 관리]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>로그인, 로그아웃, 사용자 관리 프론트엔드 개발</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">React</span>
                                </li>
                            </ul>
                        </li>

                        <li>SKB 장비·서비스 파이프라인에 대한 실시간 모니터링 구축, 이상 감지, 자동화된 장애 알람 시스템을 개발·운영 [SKB G2 고도화]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>물리 장비(NAS, 스위치, 서버) 모니터링, 이상감지, 장애알람 개발</li>
                                <li>서비스 파이프라인 모니터링, 이상감지, 장애알람 백엔드 개발</li>
                                <li>모니터링, 이상감지, 장애알람 운영 관리</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">Nginx</span>
                                    <span class="badge text-bg-secondary">ELK STACK</span>
                                    <span class="badge text-bg-secondary">Kafka</span>
                                    <span class="badge text-bg-secondary">Java</span>
                                    <span class="badge text-bg-secondary">SpringBoot</span>
                                    <span class="badge text-bg-secondary">InfluxDB</span>
                                    <span class="badge text-bg-secondary">Kapacitor</span>
                                    <span class="badge text-bg-secondary">MySQL</span>
                                    <span class="badge text-bg-secondary">Grafana</span>
                                </li>
                            </ul>
                        </li>

                        <li>서비스 파이프라인 모니터링, 이상감지, 장애알람 인프라 개발 및 운영 [SKT T-map 실시간 운전습관]</li>
                        <li style="list-style: none;">
                            <ul>
                                <li>서비스 파이프라인 모니터링, 이상감지, 장애알람 인프라 구축</li>
                                <li>장애 메세지 전송 및 이력 관리 백엔드 개발</li>
                                <li>Kafka 전반적인 운영 관리</li>
                                <li>모니터링 및 장애 대응 운영 관리</li>
                                <li style="list-style: none;">
                                    <span class="badge text-bg-secondary">Kafka</span>
                                    <span class="badge text-bg-secondary">Prometheus</span>
                                    <span class="badge text-bg-secondary">Grafana</span>
                                    <span class="badge text-bg-secondary">Python3</span>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2018.05 - 2024.01</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 지투시스넷</h3>
                    <div class="subheading mb-1"></div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2016.09 - 2017.04</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">㈜ 그린잇</h3>
                    <div class="subheading mb-1"></div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2016.06 - 2016.09</span></div>
            </div>
        </div>
    </section>
</body>
</html>