<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infrastructure</title>
</head>
<body>
    <section th:fragment="fragment-infrastructure" class="resume-section" id="infrastructure">
        <div class="resume-section-content">
            <h2 class="mb-5">Infrastructure</h2>
            <div class="subheading mb-5">
            <div>
                <img class="img-infrastructure" th:src="@{/assets/img/infrastructure.png}" alt="no img">
            </div>
            </div>
        </div>
    </section>
</body>
</html>