<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduce</title>
</head>
<body>
    <section th:fragment="fragment-introduce" class="resume-section" id="introduce">
        <div class="resume-section-content">
            <h2 class="mb-5">Introduce</h2>
            <div class="subheading mb-5">
            </div>
            <p class="lead mb-1">웹 서비스, 백엔드/서버, 인프라 개발 및 운영 업무로 5년9개월의 경력을 가지고 있습니다.</p>
            <p class="lead mb-1">주 업무는 실시간 대용량 데이터 처리, REST API 개발, 서비스 운영 및 장애대응 업무를 수행했습니다.</p>
            <p class="lead mb-1">웹 서비스 및 백엔드/서버 개발은 Java, Springboot, Python3, Flask, React, MySQL, InfluxDB를 사용했습니다.</p>
            <p class="lead mb-1">인프라 개발 및 운영은 Kafka, Nginx, Docker, Kubernetes, Prometheus, TICK Stack, Grafana, Linux를 사용했습니다.</p>
            <p class="lead mb-1">해당 스킬 및 경험을 바탕으로 서비스 설계, 개발, 운영의 확장성과 유지 보수성이 높은 서비스 개발을 고민하고 있습니다.</p>
        </div>
    </section>
</body>
</html>