<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
    <section th:fragment="fragment-project" class="resume-section" id="project">
        <div class="resume-section-content">
            <h2 class="mb-5">Project</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">N-GLIS 차세대 유전체 정보 관리 시스템</h3>
                    <div class="subheading mb-0">1. 사용자, 주문, 연동 서비스 백엔드 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>중앙, 외부 서비스를 연동하여 사용자 및 주문 정보를 동기화하는 서비스 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>JWT를 사용한 로그인, 로그아웃, 사용자 관리 서비스 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>주문 관리 서비스 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary" ar>Java</span>
                            <span class="badge text-bg-secondary">Spring-cloud</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">ETRI 고속DB</h3>
                    <div class="subheading mb-0">1. 방탐데이터 관리 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>실시간으로 발생하는 대용량 방탐 데이터를 신뢰도로 필터링하여 저장</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>방탐 데이터 시각화</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">KETI  5G 식품공장(스마트 팩토리)</h3>
                    <div class="subheading mb-0">1. 서버 및 컨테이너 환경 관리 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서버 레이드 및 k8s 인프라 구축</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>모니터링 서비스 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>k8s 노드 추가, 삭제 서비스 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Kubernetes</span>
                            <span class="badge text-bg-secondary">Python3</span>
                            <span class="badge text-bg-secondary">Flask</span>
                            <span class="badge text-bg-secondary">Prometheus</span>
                            <span class="badge text-bg-secondary">Ansible</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">KETI 시계열 프로젝트</h3>
                    <div class="subheading mb-0">1. 시계열데이터를 사용한 시각화, 분석 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>공공데이터(날씨, 주식)를 이용한 데이터 수집 및 대용량 파일 데이터 업로드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>데이터 시각화 및 분석 서비스 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKH 좌석 관리</h3>
                    <div class="subheading mb-0">1. 외부 인력 좌석 관리</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>외부 인력들이 사용하는 건물 및 좌석을 관리하는 서비스 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">Oracle</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKB G2 고도화</h3>
                    <div class="subheading mb-0">1. 모니터링 및 알람 서비스 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서비스에 사용되는 어플리케이션, 하드웨어 메트릭을 수집하여 데이터 시각화, 장애 알람 관리 서비스 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Metricbeat</span>
                            <span class="badge text-bg-secondary">Logstash</span>
                            <span class="badge text-bg-secondary">Kafka</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Kapacitor</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                            <span class="badge text-bg-secondary">Nginx</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                        </li>
                    </ul>

                    <div class="subheading mb-0">2. 모니터링 및 알람 통합 관리 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>모니터링 시각화 및 알람을 관리하는 통합 서비스 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Kapacitor</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKT T-map 실시간 운전습관</h3>
                    <div class="subheading mb-0">1. 모니터링 및 알람 서비스 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서비스에 사용되는 어플리케이션들의 상태를 수집하여 시각화 및 조건에 의한 알람 발생</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Prometheus</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                            <span class="badge text-bg-secondary">Python3</span>
                            <span class="badge text-bg-secondary">Message API</span>
                        </li>
                    </ul>

                    <div class="subheading mb-0">2. Kafka, 모니터링 서비스 운영 및 장애대응</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서비스 핵심인 Kafka 운영 및 장애대응</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>모니터링 서비스 시각화 및 알람 관리</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Kafka</span>
                            <span class="badge text-bg-secondary">Prometheus</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
        </div>
    </section>
</body>
</html>