<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
    <section th:fragment="fragment-project" class="resume-section" id="project">
        <div class="resume-section-content">
            <h2 class="mb-5">Project</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">N-GLIS 차세대 유전체 정보 관리 시스템</h3>
                    <div class="subheading mb-0">아산병원, 녹십자 임상실험 데이터 관리 및 분석 서비스 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>중앙, 외부 API 연동 및 데이터 동기화 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>JWT를 사용한 로그인, 로그아웃, 사용자 관리 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>주문 관리 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Docker</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-cloud</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">ETRI 고속DB</h3>
                    <div class="subheading mb-0">“단파대 광대역 방탐 시제품 고속 DB 처리부” 전파의 방향탐지 데이터를 수집, 저장, 시각화 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>초당 200만건 발생하는 방탐데이터를 수신하여 변환/필터링 작업을 거친후, 30만건 이상의 데이터를 저장하는 방탐신호 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>방탐 데이터의 효율적인 저장을 위한 DB 테이블 설계</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>방탐 데이터 저장 및 시각화 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>4주 이상 초당 30만건 이상의 방탐데이터를 안정적으로 저장 및 관리</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">KETI 5G MEC</h3>
                    <div class="subheading mb-0">식품공장 생산성 향상 및 유연 포장 자동, 최적화를 위한 5G MEC 프레임워크 개발</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서버 RAID 및 10G 구축</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>컨테이너 환경 인프라 구축</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>MEC Plaform Manager 모니터링 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>MEC Plaform Manager 컨테이너 및 노드 관리 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Kubernetes</span>
                            <span class="badge text-bg-secondary">Python3</span>
                            <span class="badge text-bg-secondary">Flask</span>
                            <span class="badge text-bg-secondary">Prometheus</span>
                            <span class="badge text-bg-secondary">Ansible</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">KETI 시계열 프로젝트</h3>
                    <div class="subheading mb-0">수집된 시계열데이터를 사용한 시각화, 분석 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>공공데이터(날씨, 주식) OpenAPI를 이용한 데이터 수집 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>대용량 CSV 데이터 업로드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>데이터 시각화 및 분석 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKB G2 SMCS</h3>
                    <div class="subheading mb-0">SKB G2 통합 모니터링 서비스</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>사용자 모니터링 차트 및 대시보드 프론트엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>사용자 알람 관리 프론트엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>로그인/로그아웃 및 사용자 관리 프론트엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Kapacitor</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKH 좌석 관리</h3>
                    <div class="subheading mb-0">기존 엑셀로 관리되고 있는 </div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>로그인, 로그아웃, 사용자 관리 프론트엔드 개발</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">React</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKB G2 고도화</h3>
                    <div class="subheading mb-0">SKB 국사에서 운영하는 장비 및 서비스 파이프라인 모니터링, 이상감지, 장애알람 개발 및 운영</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>NAS, switch(SNMP), server 모니터링, 이상감지, 장애알람 인프라 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서비스 파이프라인 모니터링, 이상감지, 장애알람 인프라 및 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>모니터링, 이상감지, 장애알람 운영 관리</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Nginx</span>
                            <span class="badge text-bg-secondary">Metricbeat</span>
                            <span class="badge text-bg-secondary">Logstash</span>
                            <span class="badge text-bg-secondary">Kafka</span>
                            <span class="badge text-bg-secondary">Java</span>
                            <span class="badge text-bg-secondary">Spring-boot</span>
                            <span class="badge text-bg-secondary">InfluxDB</span>
                            <span class="badge text-bg-secondary">Kapacitor</span>
                            <span class="badge text-bg-secondary">MySQL</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">SKT T-map 실시간 운전습관</h3>
                    <div class="subheading mb-0">서비스 파이프라인 모니터링, 이상감지, 장애알람 인프라 개발 및 운영</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>서비스 파이프라인 모니터링, 이상감지, 장애알람 인프라 구축</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>장애 메세지 전송 및 이력 관리 백엔드 개발</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>Kafka 전반적인 운영 관리</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <p>모니터링 및 장애 대응 운영 관리</p>
                        </li>
                        <li>
                            <span class="badge text-bg-secondary">Kafka</span>
                            <span class="badge text-bg-secondary">Prometheus</span>
                            <span class="badge text-bg-secondary">Grafana</span>
                            <span class="badge text-bg-secondary">Python3</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"></span></div>
            </div>
        </div>
    </section>
</body>
</html>