<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
</head>
<body>
    <section th:fragment="fragment-skills" class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div style="margin-bottom: 1rem">
                <div class="subheading mb-3">Programming Languages & Framework</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Java, Python3, Javascript
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        SpringBoot, JPA, React
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 1rem">
                <div class="subheading mb-3">Infrastructure & Database</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Ubuntu, Docker
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        MySQL, InfluxDB, Redis
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Kafka
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        TICK Stack, Nginx, Prometheus, Grafana
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 1rem">
                <div class="subheading mb-3">IDE & Tools</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        IntelliJ IDEA Ultimate
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        GitLab, GitHub
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Jira, Confluence
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>